body,
html {
    margin: 0;
    padding: 0;

}
body {
    padding: 7%;
    background: #F8F8F8;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;

}
.inline {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    border: 0 solid #fff;
    -webkit-transition: border 0.1s;
    transition: border 0.1s;
    -webkit-transition: width 0.2s, height 0.2s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.2s;
    /* top: 0; */
    /* left: 0; */

}
.inline:hover {
    border: 0 solid #fff;

}

.cross {
    float: right;
    top: 10px;
    right: 10px;
    color: #fff;
    text-align: center;
    width: 25px;
    height: 25px;
    vertical-align: center;
    /* border: 1px solid #f8f8f8; */
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}

.text {
    position: absolute;
    display: inline-block;
    bottom: 11px;
    left: 11px;
    width: 80px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 8px;
}

.block {
    background: #F8F8F8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    border: 0;
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 35px;

}
.block:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.3), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}
.blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

small {
    font-size: 8px;
    color: #7f8c8d;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-size: 11px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-bottom: 1px solid #F8F8F8;
    margin-bottom: 20px;
    display: inline-block;

}
a:hover {
    border-bottom: 1px solid #3498db;
}
h2 {
    margin: 5px;
    color: #2c3e50;
}
